<!DOCTYPE html>
<html lang="en">
<body>
<div th:replace="header.html::header"></div>

<div class="container">
    <table id="infotable" class="table">
        <tr>
            <th>과목</th>
            <th>연도</th>
            <th>과목구분</th>
            <th>문제수</th>
        </tr>
    </table>

    <div> <h3>문제</h3> <button class="btn btn-primary"> 문제 추가 </button> </div>

    <div>
    </div>
</div>

<div th:replace="footer.html::footer"></div>
<script src="/js/exammanager.js"></script>
</body>
</html>