<!DOCTYPE html>
<html lang="en">
<head>
    <!-- 메인 css-->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div th:replace="header.html::header"></div>

<div class="first_div"><!-- 첫번째 -->
    <div class="container img_container">
        <div class="first_div_img">
            <div class="first_div_text">
                <h1>기출풀이를 통해 시험공부하세요</h1>
                <span> 현재준비된과 : 컴퓨터과학과, 몇가지 교양 </span>
                <div class="first_div_btn">
                    <button onclick="pasgemove('custom-cards')" type="button" class="btn btn-primary btn-lg">학습 시작</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div><!-- 두번째 -->

        <div class="container px-4 py-5" id="custom-cards">
            <h2 class="pb-2 border-bottom index_text">풀이모드</h2>

            <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                         style="background-image: url('/img/onelogo.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">한문제씩 풀기</h2>
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">
                                        <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"/>
                                    </svg>
                                </li>
                                <li class="d-flex align-items-center me-3">
                                    <svg class="bi me-2" width="1em" height="1em">
                                        <use xlink:href="#geo-fill"/>
                                    </svg>
                                    <small><a class="starta" href="/exam/ch?chmode=1">시작하기</a></small>
                                </li>
                                <li class="d-flex align-items-center">
                                    <svg class="bi me-2" width="1em" height="1em">
                                        <use xlink:href="#calendar3"/>
                                    </svg>
                                    <small>한문제씩</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg"
                         style="background-image: url('/img/twelogo.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">한번의 풀기</h2>
                            <ul class="d-flex list-unstyled mt-auto">
                                <li class="me-auto">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">
                                        <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"/>
                                    </svg>
                                </li>
                                <li class="d-flex align-items-center me-3">
                                    <svg class="bi me-2" width="1em" height="1em">
                                        <use xlink:href="#geo-fill"/>
                                    </svg>
                                    <small><a class="starta" href="/exam/ch?chmode=2">시작하기</a></small>
                                </li>
                                <li class="d-flex align-items-center">
                                    <svg class="bi me-2" width="1em" height="1em">
                                        <use xlink:href="#calendar3"/>
                                    </svg>
                                    <small>모두</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div><!--세번째-->
        <div class="container px-4 py-5" id="hanging-icons">
            <h2 class="pb-2 border-bottom index_text">소개</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
                <div class="col d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#toggles2"/>
                        </svg>
                    </div>
                    <div>
                        <h2>기출풀이를 통해 성적을 향상시키세요</h2>
                        <p>현제 한국방송통신대의 기말시험은 문제은행식으로 새로문제들도 매년 출시되지만 비슷한문제가많아 기출풀이만으로
                        높은성적 향상을 기대할수있습니다.</p>
                        <a onclick="pasgemove('custom-cards')" href="#" class="btn btn-primary">
                            기출풀이시작
                        </a>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                        <svg class="bi" width="1em" height="1em">
                            <use xlink:href="#cpu-fill"/>
                        </svg>
                    </div>
                    <div>
                        <h2>열정많은 신입되고싶은개발자가 만들었어요!</h2>
                        <p>첫 배포 개인 프로젝트라서 오류가많을수도있습니다. 오류를 발견하면 아래 버튼을 클릭해서 메일로 보내주세요. (건의도 좋아요) 감사합니다^^</p>
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-primary">
                            오류 있어요!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">오류 신고</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <textarea id="textarea" style="width: 100%" rows="5" placeholder="(로그인후 접수 가능)상세하게 적어주실수록 좋아요"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" onclick="inserterror()">접수하기</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer.html::footer"></div>
<script src="/js/main.js"></script>
</body>
</html>
